
<ion-header>
  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="no-scroll">

  <div class ="centerContent">{{ text }} </div>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col>
        <div class="signin-container">
          <form (ngSubmit)="changePassword()" [formGroup]="inputChangePassword" >
            <input type="password" placeholder="Password"  formControlName="password" />
            <input type="password" placeholder="Repeat passwort" formControlName="password-repeat" />
            <ion-item *ngIf="inputChangePassword.hasError('passwordsNotMatching')">
              The passwords do <strong>not match</strong>. Please try again.
            </ion-item>
            <ion-item *ngIf="inputChangePassword.hasError('authenticationError')">
              There was an error during the <strong>authentification</strong>!
            </ion-item>
            <ion-item text-wrap *ngIf="inputChangePassword.hasError('passwordGuidelinesError')">
                {{ this.passwordGuidelinesErrorMessage }}
            </ion-item>
            <button type="submit" class="submit-button" [disabled]="!inputChangePassword.valid" ion-button full>Change password</button>
            <button *ngIf="showAbort" type="button" class="submit-button"  (click)="abort()" ion-button full>Abort</button>
            <ion-item *ngIf="showAbort">
            </ion-item>   
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
