page-change-password {
    ion-title{
        text-align: center;
    }
    .no-scroll .scroll-content{
        overflow: hidden;
   }
   .signin-container {
    margin: 20px 0;
}
.centerContent{
    text-align: center;
    margin: 15px 0;
}
ion-item {
    color: red !important;
    font-size: small !important;
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}

ion-item .item-inner {
    border: none !important;
}

.item-md {
    background-image: none !important;
}

input {
    font-size: 1.6rem;
    width: 100%;
    background-color: color($backgrounds, header);
    color: color($font, contentPrimary);
    padding: 15px;
    border: none;
    border-radius: 10px;
}
[text-wrap] ion-label {
    white-space: pre-line;
    text-align: center;
}

input[type="text"] {
    margin: 0 0 0 0;
}

input[type="password"] {
    margin: 15px 0 20px 0;
}
.submit-button {
    box-shadow: none;
    border-radius: 10px;
    height: 3.6rem !important;
    color: white;
    background-color: black;
}

}
