<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="title-group">BeSte Software - 7days2die</ion-title>
    <ion-title class="title-group-mobile">7days2die</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>7 Days to Die</h3>

  <div *ngIf="!this.loggedIn" class="loginFormat">
    <ion-grid>
        <h1>Login:</h1>
        <ion-row justify-content-center>
          <ion-col col-sm-12 col-md-8 col-lg-4>
            <div class="signin-container">
              <form (ngSubmit)="signin()" [formGroup]="inputSignin" >
                <input class="signing-input" type="text" placeholder="Username"   formControlName="username" />
                <input class="signing-input" type="password" placeholder="Password" formControlName="password" />
                <ion-item *ngIf="inputSignin.hasError('authenticationError')">
                    <strong class="errorMsg" >{{ this.loginErrorMessage }}</strong>
                </ion-item>
                <button type="submit" class="submit-button" [disabled]="!inputSignin.valid" ion-button full>Login</button>
              </form>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
  <div *ngIf="this.loggedIn" class="loginFormat">
    <ion-grid>
        <h1>Your Servers:</h1>
        <ion-row justify-content-center>
          <ion-col col-sm-20 col-md-20 col-lg-20>
            <ion-list class="accordion-list">
              <!-- First Level -->
              <ion-list-header *ngFor="let item of serverSettings; let i = index" no-lines no-padding>
                <!-- Toggle Button -->
                <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
                  <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
                  <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
                    {{ item.ServerName }}
                    <ion-avatar *ngIf="item.IsRunning" item-end>
                      <img src="assets/icon/tl_green.ico">
                    </ion-avatar>
                    <ion-avatar *ngIf="!item.IsRunning" item-end>
                      <img src="assets/icon/tl_black.ico">
                    </ion-avatar>
                </button>
                
				        <form (ngSubmit)="updateServerSetting(i)" [formGroup]="inputServers[i]">

                  <ion-list *ngIf="item.open" detail-none text-wrap>
                    <!--  <div ng-include src="'pages/sdaystdie/sdaystdie.html'"></div> -->
                    <!-- <ng-include src="'pages/sdaystdie/sdaystdie.html'"></ng-include> -->
                    <ion-item>
                      <ion-label>Server Name:</ion-label>
                      <ion-input type="text" formControlName="server_name"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label>Game Seed:</ion-label>
                      <ion-input type="text" formControlName="world_gen_seed"></ion-input>
                    </ion-item>   
                    <ion-item>
                      <ion-label>Server Description:</ion-label>
                      <ion-input type="text" formControlName="server_description"></ion-input>
                    </ion-item>   
                    <ion-item>
                      <ion-label>Server Password:</ion-label>
                      <ion-input type="text" formControlName="server_password"></ion-input>
                    </ion-item>   
                    <ion-item>
                      <ion-label>Game World:</ion-label>
                      <ion-select placeholder="Pflichtfeld" formControlName="game_world"> 
                        <ion-option value="RWG">RWG</ion-option>
                        <ion-option value="Navezgane">Navezgane</ion-option>
                      </ion-select>
                    </ion-item>   
                    <ion-item>
                      <ion-label>Game Name:</ion-label>
                      <ion-input type="text" formControlName="game_name"></ion-input>
                    </ion-item>    
                    <ion-item>
                        <button type="submit" class="submit-button" ion-button full>Save</button>
                    </ion-item>   
                    <ion-item *ngIf="!item.IsRunning">
                        <button type="button" class="submit-button"  (click)="startServer(i)" ion-button full>Start Server</button>
                    </ion-item>   
                    <ion-item *ngIf="item.IsRunning">
                        <button type="button" class="submit-button"  (click)="stopServer(i)" ion-button full>Stop Server</button>
                    </ion-item>      
                    <ion-item>
                        <button type="button" class="submit-button" (click)="deleteServerSetting(i)" ion-button full>Delete</button>
                    </ion-item>     
                  </ion-list>
                </form>
                <ion-item *ngIf="item.open">
                    <button ion-item (click)="toggleServerLog(i)" detail-none [ngClass]="{'section-active': newServerSetting.open, 'section': !newServerSetting.open}">
                        <ion-icon item-left name="arrow-forward" *ngIf="!newServerSetting.open"></ion-icon>
                        <ion-icon item-left name="arrow-down" *ngIf="newServerSetting.open"></ion-icon>
                          Show Server Log
                    </button>
                </ion-item>
                <ion-item class="ServerLog" text-wrap *ngIf="item.openServerLog && item.open" >
                    {{ serverLogs[i] }}
                </ion-item>  
              </ion-list-header>
              <ion-list-header no-lines no-padding>
                  <!-- Toggle Button -->
                  <button ion-item (click)="toggleNewServerSection()" detail-none [ngClass]="{'section-active': newServerSetting.open, 'section': !newServerSetting.open}">
                    <ion-icon item-left name="arrow-forward" *ngIf="!newServerSetting.open"></ion-icon>
                    <ion-icon item-left name="arrow-down" *ngIf="newServerSetting.open"></ion-icon>
                      New Server
                  </button>
                  
                  <form (ngSubmit)="addServerSetting()" [formGroup]="newInputServer">
                      <ion-list *ngIf="newServerSetting.open" detail-none class="child-item" text-wrap>
                        <!--  <div ng-include src="'pages/sdaystdie/sdaystdie.html'"></div> -->
                        <!-- <ng-include src="'pages/sdaystdie/sdaystdie.html'"></ng-include> -->
                        <ion-item>
                          <ion-label>Server Name:</ion-label>
                          <ion-input type="text" formControlName="server_name"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label>Game Seed:</ion-label>
                          <ion-input type="text" formControlName="world_gen_seed"></ion-input>
                        </ion-item>   
                        <ion-item>
                          <ion-label>Server Description:</ion-label>
                          <ion-input type="text" formControlName="server_description"></ion-input>
                        </ion-item>   
                        <ion-item>
                          <ion-label>Server Password:</ion-label>
                          <ion-input type="text" formControlName="server_password"></ion-input>
                        </ion-item>   
                        <ion-item>
                          <ion-label>Game World:</ion-label>
                          <ion-select placeholder="Pflichtfeld" formControlName="game_world"> 
                            <ion-option value="RWG">RWG</ion-option>
                            <ion-option value="Navezgane">Navezgane</ion-option>
                          </ion-select>
                        </ion-item>   
                        <ion-item>
                          <ion-label>Game Name:</ion-label>
                          <ion-input type="text" formControlName="game_name"></ion-input>
                        </ion-item>    
                        <ion-item>
                            <button type="submit" class="submit-button" ion-button full>Save</button>
                        </ion-item>               
                      </ion-list>
                      <!-- <div ng-include src="'pages/sdaystdie/serverSettingsInput.html'"></div> -->
                  </form>
                </ion-list-header>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>
<ion-footer>
  <p>Beste Software - <button button-full (tap)="toggleImpressum()">Impressum</button></p>
  <div *ngIf="this.impressumVisible">
      <p class="bodytext">Stefan Belkot<br>Ebing 112<br>84478 Waldkraiburg
      </p>
      <p class="bodytext">Telefon 0163 62 99 646
      </p>
      <p class="bodytext">Email: contact(at)bestesoftware.eu
      </p>
      <p class="bodytext">Full-Stack Software Developer
      </p>
      <p class="bodytext">Umsatzsteuer-ID: tbd
      </p>
  </div>
</ion-footer>
